<%- include("partials/header") %>
<h2>Share the Texts You Left on Read</h2>
<div class="dialog-container">
  <dialog id="about">
    <form method="dialog">
      <label>Info:</label>
      <p class="about-text">
        It's a social experiment of sorts. Communication has never been easier,
        and we expect instant replies because we have the means to at our
        fingertips. But sometimes it can be too much. So let's see some of the
        texts you get! The messages can be weird, spam, wrong numbers, or even
        texts that are just difficult to reply back to. Maybe we'll laugh, or
        cry, even cringe. Maybe we can relate. This is a place where texts go to
        die. Gone but not forgotten.
      </p>
      <hr />
      <p class="about-text"><b>What does it mean to leave on read?</b></p>
      <p class="about-text">
        It’s left on “read” because the other person sees their text has been
        read but not responded to.
      </p>
      <p class="about-text"><b>Things to consider:</b></p>
      <p class="about-text">
        Don't get too personal & overshare information, even though we all love
        a little gossip! Don't post information that would identify a person.
      </p>
      <div class="about-btn-container">
        <button class="about-close" value="cancel">Close</button>
      </div>
    </form>
  </dialog>
  <button id="aboutDetails">What's this project about?</button>
</div>
<script>
  const aboutButton = document.getElementById("aboutDetails");
  const aboutProject = document.getElementById("about");

  aboutButton.addEventListener("click", function () {
    aboutProject.showModal();
  });
</script>
<div class="dot-container">
  <span class="dot-one">.</span>
  <span class="dot-two">.</span>
  <span class="dot-three">.</span>
  <img src="images/bubble.svg" alt="" />
</div>
<div class="content-box">
  <% texts.forEach(function(text){ %>
  <p class="text-messages">
    "<%=text.content%>"
    <span class="user-reply"
      ><em>
        <%=text.time.toLocaleDateString()%> at
        <%=text.time.toLocaleTimeString()%></em
      ></span
    >
  </p>
  <% }); %>
  <form action="/" method="post">
    <textarea
      id="textBox"
      name="textMessage"
      placeholder="Type or paste your text here. Don't get too personal!"
      cols="40"
      rows="7"
      maxlength="300"
      required="true"
    ></textarea>
    <span id="count" class="char-count">
      <script>
        document.getElementById("textBox").onkeyup = function () {
          document.getElementById("count").innerHTML =
            " " + (300 - this.value.length);
          if (document.getElementById("count").innerHTML < 100) {
            document.getElementById("count").style.color = "#F05454";
          } else {
            document.getElementById("count").style.color = "#5f7adb";
          }
        };
      </script>
    </span>
    <div class="button-container">
      <button
        id="myBtn"
        class="submit-message"
        type="submit"
        name="button"
        value=""
      >
        <i class="fas fa-paper-plane fa-1x" style="color: #dddddd"></i>
      </button>
    </div>
  </form>
  <hr />
  <hr />
  <details>
    <summary>
      <i class="fas fa-info info-icon" style="color: #5f7adb"></i>
    </summary>
    <p class="info-text">
      This website is connected to a database, which is used to post your
      messages to the website. Only your messages and time/date sent are
      collected.
    </p>
  </details>
</div>
<%- include('partials/footer') %>
